<li class="item" data-item-id="{{this.id}}" data-entry-id="{{this.id}}" data-item-name="{{this.name}}" data-note-key="{{this.id}}" data-uuid="{{this.uuid}}">
  <div class="item-row" draggable="true">
    <div class="item-name item-action rollable" role="button" data-action="open-note" aria-label="{{this.name}}">
      <img class="item-image gold-icon" src="{{this.img}}" alt="{{this.name}}" draggable="false">
      <div class="name name-stacked">
        <span class="title">{{this.name}}</span>
      </div>
    </div>

    <div class="item-detail item-controls">
      {{#if @root.editable}}
      <a class="item-control" data-action="edit-note" data-note-key="{{this.id}}" 
         title="{{ localize "dnd5e-sheet-notes.note.edit" }}" aria-label="{{ localize "dnd5e-sheet-notes.note.edit" }}">
        <i class="fas fa-edit"></i>
      </a>
      <a class="item-control" data-action="delete-note" data-note-key="{{this.id}}" 
         title="{{ localize "dnd5e-sheet-notes.note.delete" }}" aria-label="{{ localize "dnd5e-sheet-notes.note.delete" }}">
        <i class="fas fa-trash"></i>
      </a>
      {{/if}}
      <a class="item-control" data-context-menu="" data-note-key="{{this.id}}" 
         aria-label="Additional Controls">
        <i class="fas fa-ellipsis-vertical"></i>
      </a>
    </div>
  </div>
</li>